body {
  direction: rtl;
  font-family: Arial;
  background: #f2f2f2;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 15px;
  padding: 20px;
}

.card {
  background: white;
  padding: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 150px;
}
